
.card-product h1{
  align-self: baseline;
  margin-top: 35px;
  margin-left: 25px;
}


.card-product {
  width: 80%;
  margin: 15px;
  overflow: hidden;
  height: auto;
  align-items: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  font-size: 32px;
  color: white;

  background: rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.6px);
  -webkit-backdrop-filter: blur(5.6px);
  border: 1px solid rgba(255, 255, 255, 0.38);
}


.card-product:hover {
  box-shadow: 0 0 30px rgba(0,0,0,0.4);
  transition: all .5s;

}

.card-product img {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin-top: 15px;
  object-fit: fill;
  margin-right: 30px;
}


.card-product-infos p {
  font-size: 16px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 25px;
  color: orange;
}


.card-product .card-product-infos {
  padding: 16px;
  align-items: center;
  margin: 40px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.card-product .card-box {
  display: flex;
  align-self: baseline;
  align-items: center;
}

.dist-buttons {
  position: relative;
  margin: 40px 0px;
  margin-top: 70px;
  align-self: baseline;
}

.booking-info h3 {
  transform: rotate(90deg);
  font-size: 112px;
  font-weight: bolder;
  color: white;
  width: 100px;
}


.booking-info {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-around;
}
