<div class="banner" style="background-image: url(https://adiestradorcaninoenalicante.com/wp-content/uploads/2022/04/sky-banner.png);">
  <div class="container hero-text">
    <h1>PawBuddy</strong>!</h1>
    <p>Rent a Pawbuddy or lent yours !</p>
    <%= link_to "Add your dog", new_dog_path, class: "btn btn-ghost-orange"  %>
  </div>
</div>
