<div class="banner" style="background-image: url(https://img.freepik.com/free-vector/topographic-contour-lines-map-seamless-pattern_1284-52862.jpg?w=2000);">
  <div class="container">
    <h1>PawBuddy</strong>!</h1>
    <p>Rent a Pawbuddy or lent yours !</p>
  </div>
</div>
