<div class="container">
  <h1>Hello <%= current_user.first_name %></h1>
  <p>Here is your past activty</p>






      <ul>
        <% Booking.all.each do |booking| %>
        
          <li><h3><%= booking.dog_id %></h3></li>
          <li><%= booking.start_date %></li>
          <li><%= booking.end_date %></li>
          <% end %>
      </ul>
