<div class="container">
  <h1>Hello <%= current_user.first_name %></h1>
  <p>Here is your past activty</p>

      <ul>
        <% Booking.all.each do |booking| %>
          <div class="card-product">
            <li><h3><%= booking.dog.name %></h3></li>
            <div class="card-box">
                <img src="https://thumbs.dreamstime.com/b/beautiful-happy-reddish-havanese-puppy-dog-sitting-frontal-looking-camera-isolated-white-background-46868560.jpg" alt="dog_image">
                <div>
                  <li><i class="fa-solid fa-calendar-days"></i> From: <%= booking.start_date %></li>
                  <li><i class="fa-solid fa-calendar-days"></i> To: <%= booking.end_date %></li>
                </div>
            </div>
          </div>
        <% end %>
      </ul>
