.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.menu {
  width: 25px;
  margin-top: 10px;
  vertical-align: bottom;
}

.avatar {
  cursor: default;
}

.menu-dropdown-toggle{
  cursor: pointer;
}

.hover-btn:hover{
  background-color: #e6963a ;
  color: white !important;
}

.dropdown-menu-end {
  border-radius: 4px;
}


.nav-link {
  border-radius: 4px;
}

.hover-btn a:hover{
  color: white;
}


.private-area{
  border-top:2px solid rgb(78, 76, 76);
  margin: 5px 0px;
  height: 1px;
  width: 100%;
}
